@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Courgette&family=Nunito+Sans:wght@200;300;400;600&family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Reenie+Beanie&family=Sacramento&family=Satisfy&family=Yellowtail&display=swap");

/* General */

body {
  font-family: "Raleway", sans-serif;
  color: #383838;
  background-color: #fff;
}

a {
  color: #848484;
}

/* a:hover {
  color: #000;
} */

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Raleway", sans-serif;
}

/* NAVBAR */

.custom-navbar {
  padding-top: 40px;
  width: 100%;
}

.custom-navbar .navbar-brand {
  font-family: "Sacramento";
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
  color: #6180fe;
}
.custom-navbar .navbar-brand:hover {
  color: #e7717d;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #848484;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #6180fe;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  /* border-bottom: 3px solid #6180fe; */
  color: #6180fe;
}

/* INTRODUCTION */

.site-section {
  padding: 6rem 0;
}
.site-section .intro {
  margin-bottom: 5rem;
  text-align: center;
}
.site-section .intro h2 {
  font-weight: 600;
}
.site-section .intro .about-me {
  font-size: 21px;
  font-weight: 400;
  color: #848484;
  letter-spacing: 0.5px;
}

.filter-row {
  padding-left: 2rem;
}
.filters a {
  color: #383838;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.filters a:hover,
.filters a:focus,
.filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #6180fe;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #6180fe;
}

/* GRIDS */

.portfolio-grid {
  margin-top: 2rem;
}
.projects .work-info {
  padding: 0.7rem 1.5rem 0;
  letter-spacing: 0.15px;
  color: #383838;
}
.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-type {
  margin-bottom: 1.7rem;
  color: #6c757d !important;
}

.project-tech {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.project-tech span {
  font-weight: 500;
  color: #6180fe;
}
.project-desc {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 2;
  /* letter-spacing: 0.2px; */
  font-weight: 500;
}
.project-desc ul {
  padding: 0 1rem;
  margin-bottom: 0.25rem;
}
.project-links {
  margin-left: 1rem;
}

.project-links a {
  text-decoration: underline;
  color: #6180fe;
  margin-right: 0.7rem;
}

.project-links a:hover {
  color: #e7717d;
}

.projects .download {
  margin-right: 1rem;
}

.item {
  border: none;
  margin-bottom: 30px;
}

.item .web {
  justify-content: center;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.projects .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  /* height: 500px; */
  /* padding: 2rem; */
  border-radius: 0.7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .item .photography .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  height: 500px; --new
  border-radius: 0.7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; --new
} */

.item .photography .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  /* height: 350px; */
  transition: 0.3s transform ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  padding-inline: 0;
  border-radius: 0.7rem;
}

.img-posi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap > .work-info h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  /* background-color: #eef2f5; */
  text-decoration: none;
}

.item .item-wrap:hover img {
  /* opacity: 0.5; */
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 0.5;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  color: #383838;
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.design .work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.design .item-wrap:hover .work-info {
  background: #6e6e6e69;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.download {
  display: inline-block;
  border: 1px solid #6180fe;
  border-radius: 0.17rem;
  padding: 12px 15px 10px;
  font-size: 12px;
  background-color: #fff;
  text-transform: uppercase;
  color: #6180fe;
  transition: 0.2s all ease;
  font-weight: 700;
}

.download:active,
.download:focus,
.download:hover {
  outline: none;
}

.download:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6180fe;
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

.form-control {
  border-radius: 0;
  background: #f8f9fa;
  border: 1px solid transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.form-control:active,
.form-control:focus {
  background: #eff1f4;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.custom-progress {
  height: 7px;
  border-radius: 0;
}

.custom-progress .progress-bar {
  background: #000;
}

/* Contact Form */

.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Custom Navmenu */

nav button {
  border: 0 !important;
  outline: 0 !important;
}
nav .navbar-collapse {
  padding-inline: 0;
}

/* Scroll to Top */
.blok:nth-of-type(odd) {
  background-color: white;
}

.blok:nth-of-type(even) {
  background-color: black;
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

/* Progress */

/* .paginacontainer {
  height: 3000px;
} */

.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "";
  background-image: url("../img/scroll-to-top.svg");
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMSAyLjIwNmwtNi4yMzUgNy41MjgtLjc2NS0uNjQ1IDcuNTIxLTkgNy40NzkgOS0uNzY0LjY0Ni02LjIzNi03LjUzdjIxLjg4NGgtMXYtMjEuODgzeiIvPjwvc3ZnPg=="); */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 1;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* FOOTER */

.footer {
  padding: 4rem 0;
}

.footer a {
  color: #000;
}

.copyright {
  display: flex;
  align-items: end;
  font-size: 14px;
  color: #8a8a8a;
}
.copyright a {
  color: #8a8a8a;
}

.copyright span {
  padding: 0 8px;
}

.social-links .about {
  text-align: center;
}

.about-section {
  padding-left: 0;
  padding-right: 3rem;
  text-align: justify;
  font-family: "IBM Plex Sans Thai Looped";
  font-weight: 300;
  letter-spacing: 0.3px;
}

.about-section p,
h5,
h4 {
  padding-right: 3rem;
}
.about-section .social-links {
  text-align: right;
  padding-right: 4rem;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
  border-radius: 0.75rem;
  background: #fff;
  border: 1px solid #6180fe;
  position: relative;
  text-align: center;
  color: #0d1e2d;
}

.social-links a svg {
  position: relative;
  fill: #6180fe;
  top: 50%;
  transform: translateY(-50%);
}

.social-links a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.social-links a:hover {
  background-color: #6180fe;
}
.social-links a:hover svg {
  fill: #fff;
}

/* For Mobile Devices where img is on top of description */
@media (max-width: 767px) {
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
  }
  .site-section .intro .who {
    font-size: 1.5rem;
  }
  .site-section .intro .about-me {
    font-size: 14px;
  }
  .portfolio-grid {
    margin-top: 3rem;
  }
  .projects .img-posi,
  .desc {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .projects .work-info {
    padding: 2rem 0 0 !important;
  }
  .project-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .project-type {
    font-size: 14px;
    margin-bottom: 1.25rem;
  }
  .project-desc {
    font-size: 14px;
  }
  .project-tech {
    font-size: 15px;
    margin-bottom: 1rem !important;
  }
  .footer .copyright {
    order: 2;
    padding-left: 1.5rem;
    font-size: 11px;
  }
  .project-footer .social-links {
    margin-bottom: 2rem;
  }
  .footer .social-links a {
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
  }
  .footer .social-links svg {
    width: 14px;
  }

  /* About Page */

  .about-page {
    padding: 2rem 0;
  }
  .about-page .photo-section {
    text-align: center;
    margin-bottom: 1rem !important;
  }
  .about-page .social-links {
    margin: 2rem 0 2rem !important;
    text-align: left;
  }
  .about-page .social-links .email {
    margin-left: 0;
  }
  .photo-section img {
    width: 80%;
  }
  .about-section {
    padding: 0 3rem;
    font-size: 14px;
  }
  .about-section h4 {
    font-size: 1.25rem;
    text-align: left;
  }
  .about-section h5 {
    font-size: 1rem;
    text-align: left;
  }
  .about-section p {
    padding-right: 0;
  }
  .about-section .download-button {
    padding-left: 1rem;
  }
  .about-footer .copyright {
    padding-left: 3rem;
  }
}

/* For Ipad Devices */

@media (min-width: 767px) and (max-width: 1025px) {
  .custom-navbar > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }
  .site-section .intro .who {
    font-size: 1.5rem;
  }
  .site-section .intro .about-me {
    font-size: 16px;
  }
  .projects .desc {
    /* padding-left: 0 !important; */
    padding-right: 0 !important;
  }
  .projects .work-info {
    /* font-size: 14px; */
    padding: 0 !important;
  }
  .project-title {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .project-type {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .project-tech {
    margin-bottom: 0.5rem;
    font-size: 14px;
  }
  .project-desc {
    font-size: 14px;
  }
  .footer .copyright {
    /* padding-left: 2rem; */
    font-size: 12px;
  }

  /* About Page */
  .about-section {
    /* padding: 0 0 0 3rem; */
    font-size: 13px;
  }
  .about-section h4 {
    font-size: 1.25rem;
  }
  .about-section h5 {
    font-size: 1rem;
    margin-bottom: 1rem !important;
  }
  /* .about-section br {
    display: none;
  } */
}

@media (min-width: 1024px) {
  .site-section .container-lg {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .copyright br,
  .about-section br {
    display: none;
  }
  .about-section {
    padding: 0 0 0 3rem;
  }
}

@media (min-width: 992px) {
  nav .nav-link {
    padding-inline: 1rem !important;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding-inline: 0;
  }
}
